.page {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 15px;
    line-height: 24px;
    background-color: #f9f9f9;
}

* {
    margin: 0;
    padding: 0;
}

.item {
    list-style: none;
}

.link {
    text-decoration: none;
    color: #000000;
}

.page-header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 79px;
    background-color: #fff;
    border-bottom: 1px solid #ececec;
}

.header__logo {
    width: 90px;
    height: 40px;
    background-image: url(../images/mishka-logo-mobile.png);
    background-position: center center;
    background-repeat: no-repeat;
}

.header__logo:hover {
    opacity: 0.5;
}

.header__logo:active {
    opacity: 0.3;
}

.header__nav {
    position: relative;
    display: none;
    width: 100%;
}

.header__nav_active {
    display: flex;
}

.main-nav__list {
    width: 100%;
    background-color: #ffffff;
}

.main-nav__item {
    border-bottom: 1px solid #ececec;
}

.main-nav__text {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 185px;
}

.main-nav__link {
    // position: relative;
    display: block;
    width: 100%;
    font-size: 17px;
    font-weight: 700;
    padding: 27px 0;
}

.main-nav__link:hover {
    color: #666666;
}

.main-nav__link:active {
    color: #b2b2b2;
}

.main-nav__text_search::before,
.main-nav__text_cart::before {
    content: "";
    position: absolute;
    display: block;
    width: 22px;
    height: 22px;
    left: -50px;
    background-position: center center;
    background-repeat: no-repeat;
}

.main-nav__text_search::before {
    background-image: url(../images/search-icon.svg);
}

.main-nav__text_cart::before {
    background-image: url(../images/cart-icon.svg);
}

.main-nav__text_search:hover::before {
    background-image: url(../images/search-icon-hover.svg);
}

.main-nav__text_cart:hover::before {
    background-image: url(../images/cart-icon-hover.svg);
}

.main-nav__text_search:active::before {
    background-image: url(../images/search-icon-active.svg);
}

.main-nav__text_cart:active::before {
    background-image: url(../images/cart-icon-active.svg);
}

.header__button-menu {
    cursor: pointer;
    position: absolute;
    display: none;
    top: 30px;
    right: 30px;
    width: 20px;
    height: 14px;
    background-color: transparent;
    border: none;
    background-image: url(../images/menu-icon.svg);
}

.header__button-menu_on {
    display: block;
}

.header__button-close {
    display: none;
    cursor: pointer;
    position: absolute;
    top: 27px;
    right: 30px;
    width: 22px;
    height: 22px;
    background-color: transparent;
    border: none;
}

.header__button-close_on {
    display: block;
}

.header__button-close::before {
    content: "";
    position: absolute;
    display: block;
    width: 27px;
    height: 2px;
    right: -5px;
    top: 50%;
    margin-top: -1px;
    background-color: #000000;
    transform: rotate(45deg);
}

.header__button-close::after {
    content: "";
    position: absolute;
    display: block;
    width: 27px;
    height: 2px;
    right: -5px;
    top: 50%;
    margin-top: -1px;
    background-color: #000000;
    transform: rotate(-45deg);
}

.header__text_delivery {
    display: none;
}

.main-features {
    background-image: url(../images/hero-mobile2.jpg);
    background-position: top center;
    background-position-y: -15px;
    background-repeat: no-repeat;
    // background-size: 100%;
}

.main-features__title {
    text-align: center;
    font-size: 27px;
    line-height: 30px;
    padding-top: 70px;
    padding-bottom: 115px;
    padding-right: 38px;
    padding-left: 38px;
}

.main-features__button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #ffffff;
    font-size: 19px;
    font-weight: 700;
    height: 103px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #63d1bb;
}


// .main-features__button:hover {
//     height: 103px;

// }

.main-features__button_dark {
    background-color: #56c3b2;
}

.features-button__text {
    width: 150px;
}

.features-button__logo {
    width: 75px;
    height: 75px;
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 0.5;
}

.features-button__logo_lamp {
    background-image: url(../images/lamp-icon.svg);
}

.features-button__logo_box {
    background-image: url(../images/box-icon.svg);
}

.main-features__button:active .features-button__text {
    opacity: 0.5;

}

.main-features__button:active .features-button__logo {
    opacity: 0.3;

}

.main__product {
    padding: 30px;
    color: #444444;
    background-color: #ffffff;
}

.main-product__title {
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 30px;
    color: #000000;

}

.main-product__description {
    line-height: 24px;
    margin-bottom: 20px;
}

.main-product__table {
    width: 100%;
    margin-bottom: 30px;
}

.product-table__string {
    display: block;
    border-bottom: 1px solid #ececec;

    line-height: 20px;
}

.product-table__column {
    padding: 7px 0;
}

.product-table__column-1 {
    width: 75px;
}

.product-table__column-2 {
    padding-left: 25px;
}

.main-product__image {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.product-table__price {
    display: block;
    text-align: center;
    font-size: 17px;
    line-height: 24px;
    margin-bottom: 25px;
}

.product-table__order-button {
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-size: 17px;
    line-height: 20px;
    font-weight: 700;
    width: 100%;
    padding: 15px 0;
    color: #444444;
    border: 2px solid #444444;
}

@media (min-width: 768px) {
    .header__logo-container {
        position: absolute;
        justify-content: start;
        top: 0;
        left: 0;
        width: 115px;
        height: 88px;
        padding-left: 50px;
        border: none;
        z-index: 5;
    }

    .header__logo {
        width: 115px;
        height: 50px;
        background-image: url(../images/mishka-logo-tablet.svg);
        background-position: center center;
        background-repeat: no-repeat;
    }

    .header__button-menu,
    .header__button-close {
        display: none;
    }

    .header__nav {
        display: flex;
    }

    .page-header {
        flex-direction: row;
    }

    .main-nav__text {
        width: max-content;
    }

    .main-nav__list {
        position: relative;
        display: flex;
        flex-wrap: wrap;
    }

    .main-nav__list::after {
        content: "";
        position: absolute;
        top: 89px;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: #ececec;
    }

    .main-nav__item {
        height: 89px;
        border: none;
    }

    .main-nav__link {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        padding: 0;
    }

    .main-nav__link_search {
        padding: 0;
    }

    .main-nav__link_catalog,
    .main-nav__link_knitting {
        font-size: 15px;
        margin-top: 15px;
        width: max-content;
    }

    .main-nav__item_catalog {
        height: max-content;
        padding-left: 50px;
        background-color: #f9f9f9;
        order: 3;
    }

    .main-nav__item_knitting {
        height: max-content;
        padding-left: 35px;
        background-color: #f9f9f9;
        flex-grow: 1;
        order: 4;
    }

    .main-nav__item_search {
        border: 1px solid #ececec;
        border-top: none;
        border-bottom: none;
        background-image: url(../images/search-icon.svg);
        background-position: center center;
        background-repeat: no-repeat;
        width: 85px;
        margin-left: 45%;
        order: 1;
    }

    .main-nav__item_search:hover {
        background-image: url(../images/search-icon-hover.svg);
    }

    .main-nav__item_search:active {
        background-image: url(../images/search-icon-active.svg);
    }

    .main-nav__text_cart {
        margin-right: 50px;
        margin-left: auto;
    }

    .main-nav__item_cart {
        width: 40%;
        flex-grow: 1;
        order: 2;
    }

    .main-nav__link_invisable {
        display: none;
    }

    .header__text_delivery {
        position: absolute;
        display: block;
        top: 104px;
        right: 50px;
        color: #444444;
    }

    .additional-nav {
        display: none;
    }


    .main-features {
        background-image: url(../images/hero-desktop.jpg);
        background-position: top center;
        background-repeat: no-repeat;
    }
    
    .main-features__title {
        font-size: 43px;
        line-height: 50px;
        padding-top: 160px;
        padding-bottom: 365px;
    }
    
    .main-feature__button-container {
        display: flex;

        padding-left: 50px;
        padding-right: 50px;
    }

    .main-features__button {
        width: 50%;
    }
    
    .main-features__button {
        background-color: #63d1bb;
    }
    
    .main-features__button_dark {
        background-color: #56c3b2;
    }
    
    .main-features__button {
        height: 119px;
    }

    .main-features__button:hover  {
        height: 124px;
        margin-top: -5px;
    }

    .main-features__button:active {
        height: 119px;

    }

    .main-features__button:hover {
        height: 124px;
        margin-top: -5px;
    }

    
}

@media (min-width: 1250px) {
    .header__logo-container {
        top: 0;
        left: 50%;
        margin-left: -75px;
        padding: 0;
        width: 150px;
        height: 89px;
        border: none;
        z-index: 5;
    }

    .header__logo {
        width: 150px;
        height: 75px;
        background-image: url(../images/mishka-logo-desktop.svg);
        background-position: center center;
        background-repeat: no-repeat;
    }

    .main-nav__item {
        height: 89px;
    }

    .main-nav__list::after {
        content: "";
        position: absolute;
        top: 89px;
        left: 50px;
        right: 50px;
        width: auto;
        height: 1px;
        background-color: #ececec;
    }

    .main-nav__item_catalog {
        background-color: #ffffff;
        margin-left: 50px;
        padding-left: 0;
        border-right: 1px solid #ececec;
        border-bottom: 1px solid #ececec;
        order: 1;
    }

    .main-nav__item_knitting {
        order: 2;
        flex-grow: 0;
        padding-left: 0;
        background-color: #ffffff;
    }

    .main-nav__item_search {
        border: 1px solid #ececec;
        border-top: none;;
        margin-left: auto;
        order: 3;
    }

    .main-nav__item_cart {
        width: max-content;
        margin-right: 50px;
        padding-left: 0;
        flex-grow: 0;
        order: 4;
    }

    .main-nav__text_cart {
        margin: 0;
    }

    .main-nav__link {
        width: max-content;
    }

    .main-nav__link_cart {
        padding-right: 50px;
        padding-left: 80px;
    }

    .main-nav__link_search {
        width: 100%;
    }

    .main-nav__link_catalog,
    .main-nav__link_knitting {
        font-size: 17px;
        margin: 0px;
        width: max-content;
    }

    .main-nav__link_knitting {
        padding-left: 35px;
        padding-right: 35px;
    }

    .main-nav__link_catalog {
        padding-left: 50px;
        padding-right: 35px;
    }

    .main-nav__list {
        flex-wrap: nowrap;
    }
    
    .header__text_delivery {
        right: 100px;
    }

    .page-header {
        flex-wrap: wrap;
    }
    
    .additional-nav {
        display: block;
    }

    .additional-nav__list {
        display: flex;
        margin-left: 100px;
        margin-top: 15px;
    }

    .additional-nav__item {
        margin-right: 62px;
    }

    .additional-nav__link {
        font-size: 15px;
        font-weight: 700;
    }

    .additional-nav__link:hover {
        color: #666666;
    }

    .additional-nav__link:active {
        color: #b2b2b2;
    }

    .main-feature__button-container {
        padding-left: 100px;
        padding-right: 100px;
    }

    .main-features__button {
        height: 119px;
    }

    .main-features__button:hover {
        height: 124px;
        margin-top: -5px;
    }

}

